/node_modules
/public/hot
/public/storage
/public/phpmyadmin
/public/mix-manifest.json
/public/css/*
/public/js/*
/public/build/*
/public/workers/*
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
auth.json
phpmyadmin

laravel-echo-server.lock
laravel-echo-server.json

_ide_helper_models.php
_ide_helper.php

public/mix-manifest.json
public/css/vendor.css

.vscode/cspell.json
.vscode/settings.json
.vscode/cspell.json

.php-cs-fixer.cache

.rnd

/resources/js/types/*
/docker/dumps/*

.phpunit.result.cache
