.v-progress-linear {
    &.transition-loading-state {
        height: 2px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999999;
    }
}