.mobile-picker {
    .mobile-input {
        input {
            padding-left: 10px;
        }
    }
    .menu {
        .menu__activator { 
            button {
                margin-bottom: 0px;
                margin-top: 13px;
            }
        }
    }
}
