
//GLOBAL
.mt-icon {
  margin-top: 20px !important;
}


.toolbar__title{
  font-weight: 100 !important;
}

.headline{
  font-weight: 100 !important;
  font-size: 16px !important;
  line-height: 12px !important;
}
.subheader{
  font-weight: 100 !important;
  font-size: 10px !important;
}

.display-5{
  font-weight: 100 !important;
  font-size: 12px !important;
}

.btn{
  font-weight: 100 !important;
  font-size: 10px !important;
}
.speed-dial{
  bottom: 60px !important;
  right: 60px !important
}

.input-group label {
  font-size: 16px !important;
  font-weight: 100;
}


.input-group--text-field input,
.input-group--text-field textarea {
  font-size: 12px !important;
}

.fs3{
  font-size: 3rem;
}

.input-group--text-field input,
.input-group--text-field textarea {
  font-weight: 100 !important;
}
.theme--dark .input-group input:disabled,
.application .theme--dark.input-group input:disabled,
.theme--dark .input-group textarea:disabled,
.application .theme--dark.input-group textarea:disabled {
  color: rgba(255,255,255,1);
}

.list__tile {
  font-weight: 100;
}

.mt--30 {
  margin-top: -30px !important;
}

.ml--10 {
  margin-top: -10px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}
.pd-20 {
  padding: 20px !important;
}


.mediaDetailMedia {
  min-height: 400px;
  object-fit: fill;
}

