$gradient-45deg-black-grey: linear-gradient(45deg, #151515 0%, #302f2f 100%);
$gradient-45deg-light-blue-cyan: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);

$size-0: 0;
$size-1: 4px;
$size-2: 8px;
$size-3: 15px;
$size-4: 24px;
$size-5: 48px;
